body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    transition: background-color 0.5s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('Background2.jpg') no-repeat center top;
    background-size: cover;
    background-color: #008CBA;
    color: white;
    padding: 20px;
    transition: background-color 0.5s, color 0.5s;
    background-position: center top -150px;
}

header .header-left {
    text-align: left;
}

header .header-right {
    text-align: right;
}

#logo {
    max-height: 100px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.5s, color 0.5s;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.horizontal-sections {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
}

.horizontal-sections > section {
    flex-grow: 1;
    margin-bottom: 20px;
}

.services, .about, .contact, .localization {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 20px; /* Added margin-bottom to each section */
}

.services:hover, .about:hover, .contact:hover, .localization:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#appointment-btn {
    display: block;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    font-size: 24px;
    color: white;
    background-color: #008CBA;
    border: none;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

#appointment-btn:hover {
    background-color: #005f73;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

.image-container {
    text-align: center;
    margin: 20px 0;
}

.image-responsive {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
